<div class="dictionary-header">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>{{dictionaryHeader}}</h1>
            </div>
            <div class="col-2">
                <a class="arrow-circle" href="javascript:history.back()"><span class="white">НАЗАД</span>
                    <svg class="arrow-circle-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g fill="none" stroke="#F2F2F2" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                            <circle class="arrow-circle-iconcircle" cx="16" cy="16" r="15.12"></circle>
                            <path class="arrow-circle-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>