<!doctype html>
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
{{>fragments/create-edit-header}}
<div class="container">
    <div>
        <form action="{{#isUpdate}}/invoice/update/{{invoice.id}}{{/isUpdate}}{{^isUpdate}}/invoice/create{{/isUpdate}}"
              name="invoice" method="post">
            <table class="table">
                <tbody>
                <thead>
                <tr>
                    <th>Поле</th>
                    <th>Значение</th>
                </tr>
                </thead>
                <tbody>
                {{#isUpdate}}
                <tr>
                    <td>ID</td>
                    <td><div name="id">{{#invoice.id}}{{invoice.id}}{{/invoice.id}}</div></td>
                </tr>
                {{/isUpdate}}
                <tr>
                    <th>Накладная</th>
                    <td><input class="form-control form-control-sm" type="text" name="name" value="{{#invoice.name}}{{invoice.name}}{{/invoice.name}}" /></td>
                </tr>
                    <th>Клиент</th>
                    <td>
                        <select name="contractor" class="form-select form-select-sm" aria-label=".form-select-sm">
                            {{#contractor}}
                            <option value="{{id}}">{{name}}</option>
                            {{/contractor}}
                        </select>
                    </td>
                <tr>
                    <th>Накладная</th>
                    <td><input class="form-control form-control-sm" type="text" name="name" value="{{#invoice.name}}{{invoice.name}}{{/invoice.name}}" /></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

{{>fragments/bootstrap-js}}
</body>
</html>