<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{name}}</h1>
        </div>
        <div class="col-6">
            <div class="right">
                <h2>{{title}}</h2>
                <p>&copy; {{author}} 2020г.</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-7">
            <div class="wrap">
                <div class="metro-big chat">
                    <div class="icon-chat"></div>
                    <span class="label bottom">Mail</span>
                </div>
                <div class="metro-big calendar">
                    <div class="icon-calendar"></div>
                    <span class="label bottom">Calendar</span>
                </div>
                <div class="metro-small store">
                    <div class="icon-excel"></div>
                    <span class="label bottom">Отчёты</span>
                </div>
            </div>
            <div class="wrap">
                <div class="metro-big ie">
                    <div class="icon-ie"></div>
                    <span class="label bottom">Internet Explorer</span>
                </div>
                    <div class="metro-big video">
                    <div class="icon-video"></div>
                    <span class="label bottom">Videos</span>
                </div>
                <div class="metro-small music">
                    <div class="icon-music"></div>
                    <span class="label bottom">Musics</span>
                </div><br>
                <div class="metro-small gp" onclick="location.href='/warehouse'">
                    <div class="icon-warehouse"></div>
                    <span class="label bottom">Склады</span>
                </div>
                <div class="metro-small fb">
                    <div class="icon-fb"></div>
                    <span class="label bottom">Facebook</span>
                </div>
                <div class="metro-small cnn">
                    <div class="icon-cnn"></div>
                    <span class="label bottom">CNN</span>
                </div>
                <div class="metro-big chat">
                    <div class="icon-chat"></div>
                    <span class="label bottom">Отправить отчёт</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, asperiores aut beatae debitis distinctio earum ipsam laboriosam nulla obcaecati qui reiciendis voluptate voluptates? Architecto at eum itaque nostrum rem.
        </div>
    </div>


</div>
</body>
</html>