<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{name}}</h1>
        </div>
        <div class="col-6">
            <div class="right">
                <h2>{{title}}</h2>
                <p>&copy; {{author}} 2020г.</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-7">
            <div class="wrap">
                <div class="metro-big chat" onclick="location.href='/contractor'">
                    <div class="icon-contractor"></div>
                    <span class="label bottom">Контрагенты</span>
                </div>
                <div class="metro-big calendar" onclick="location.href='/product'">
                    <div class="icon-product"></div>
                    <span class="label bottom">Материальные средства</span>
                </div>
                <div class="metro-small store" onclick="location.href='/store/debit'">
                    <div class="icon-debit"></div>
                    <span class="label bottom">Поступление</span>
                </div>
            </div>
            <div class="wrap">
                <div class="metro-big ie" onclick="location.href='/warehouse'">
                    <div class="icon-warehouse"></div>
                    <span class="label bottom">Складские помещения</span>
                </div>
                <div class="metro-big video" onclick="location.href='/product-type'">
                    <div class="icon-product-type"></div>
                    <span class="label bottom">Типы материальных средств</span>
                </div>
                <div class="metro-small credit" onclick="location.href='/invoice'">
                    <div class="icon-invoice"></div>
                    <span class="label bottom">Накладная</span>
                </div>
            </div>
            <div class="wrap">
                <div class="metro-small gp" onclick="location.href='/logout'">
                    <div class="icon-logout"></div>
                    <span class="label bottom">Выход</span>
                </div>
                <div class="metro-big fb" onclick="location.href='/store/rest'">
                    <div class="icon-report"></div>
                    <span class="label bottom">Остатки на складе</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <p><strong>WMS-Doors</strong> - лёгкая в использовании система управления материальными запасами организации "ДверейДешевлеНеБывает!"</p>

        </div>
    </div>

</div>
</body>
</html>